<!DOCTYPE html>
<html>
<head>
	<title>Student App</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
	<div class="jumbotron">
		<h1>My Student Portfolio</h1>
		<p>Welcome to your student portfolio! </p>
		<p>Create a complete student profile showcasing your accomplishments and experiences for colleges and employers to get a full picture of you!</p>
		<br>
		<br>
		<ul>
			<% @schools.each do |school| %>
			<li><%= schools.description %>&nbsp;<%= schools.date %> - <a href="/<%= schools.id %>/edit">Edit</a></li>
			<% end %>
		</ul>

		<ul>
			<% @awards.each do |award| %>
			<li><%= award.description %>&nbsp;<%= award.date %> - <a href="/<%= award.id %>/edit">Edit</a></li>
			<% end %>
		</ul>

		<a href="/student/schools"><button type="button" class="btn btn-primary btn-lg btn-block">Add Education Now</button></a>

		<br>

		<a href="/student/awards"><button type="button" class="btn btn-primary btn-lg btn-block">Add Awards Now</button></a>

	</div>
</body>
</html>