<!DOCTYPE html>
<html>
<head>
	<title>Schools</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="jumbotron">
		<h1>My Student Portfolio</h1>
		<h3>My Education</h3>
		<p>You're an academic superstar! Create a complete profile of your education for colleges and employers to get a full picture of you!</p>

		<b>Here's an example.</b> <%= @example_schools %>

		<hr style="color:#919090; background-color:#919090; height:1px; border:none;">

		<h4><p style="line-height:1.5">
			<% @schools.each do |school| %>
			<span class="label label-primary"><%= school.level %></span> &nbsp;&nbsp;<%= school.name %>&nbsp;<%= school.date %> - <a href="/student/schools/<%= school.id %>/edit">Edit</a><br>
			<% end %>
		</p></h4>

		<br>
		<br>	
		<a href="/student/schools/edit"><button type="button" class="btn btn-primary btn-lg btn-block">Edit School</button></a>
		<br>
		<br>
		<form action="/student/schools/<%= @school.id %>" method="post">
			<input type="hidden" name="_method" value="delete" />
			<input type="submit" button type="button" class="btn btn-primary btn-lg btn-block" value="Delete School"></a>
		</form> 
		<br>
		<br>
		<a href="/student/schools/new"><button type="button" class="btn btn-primary btn-lg btn-block">Add New School</button></a>
		<br>
		<br>

	</div>
</body>
</html>